{
  "Version": 2,
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "sound": "Unset"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "sound",
      "b": "solid",
      "r": "Collide"
    }
  ],
  "__guid": "5dfc980a-cba2-4722-a6e7-b7cfedad79f1",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}